<option value="0x96f">0x96f</option>
<option value="3024-day">3024-day</option>
<option value="3024-night">3024-night</option>
<option value="3024">3024</option>
<option value="adventure-time">adventure-time</option>
<option value="alien-blood">alien-blood</option>
<option value="alucard">alucard</option>
<option value="apathy">apathy</option>
<option value="apprentice">apprentice</option>
<option value="argonaut">argonaut</option>
<option value="arthur">arthur</option>
<option value="ascendancy">ascendancy</option>
<option value="ashes">ashes</option>
<option value="atelier-cave-light">atelier-cave-light</option>
<option value="atelier-cave">atelier-cave</option>
<option value="atelier-dune-light">atelier-dune-light</option>
<option value="atelier-dune">atelier-dune</option>
<option value="atelier-estuary-light">atelier-estuary-light</option>
<option value="atelier-estuary">atelier-estuary</option>
<option value="atelier-forest-light">atelier-forest-light</option>
<option value="atelier-forest">atelier-forest</option>
<option value="atelier-heath-light">atelier-heath-light</option>
<option value="atelier-heath">atelier-heath</option>
<option value="atelier-lakeside-light">atelier-lakeside-light</option>
<option value="atelier-lakeside">atelier-lakeside</option>
<option value="atelier-plateau-light">atelier-plateau-light</option>
<option value="atelier-plateau">atelier-plateau</option>
<option value="atelier-savanna-light">atelier-savanna-light</option>
<option value="atelier-savanna">atelier-savanna</option>
<option value="atelier-seaside-light">atelier-seaside-light</option>
<option value="atelier-seaside">atelier-seaside</option>
<option value="atelier-sulphurpool-light">atelier-sulphurpool-light</option>
<option value="atelier-sulphurpool">atelier-sulphurpool</option>
<option value="atlas">atlas</option>
<option value="ayu-dark">ayu-dark</option>
<option value="ayu-light">ayu-light</option>
<option value="ayu-mirage">ayu-mirage</option>
<option value="aztec">aztec</option>
<option value="banana-blueberry">banana-blueberry</option>
<option value="batman">batman</option>
<option value="bespin">bespin</option>
<option value="birds-of-paradise">birds-of-paradise</option>
<option value="black-metal-bathory">black-metal-bathory</option>
<option value="black-metal-burzum">black-metal-burzum</option>
<option value="black-metal-dark-funeral">black-metal-dark-funeral</option>
<option value="black-metal-gorgoroth">black-metal-gorgoroth</option>
<option value="black-metal-immortal">black-metal-immortal</option>
<option value="black-metal-khold">black-metal-khold</option>
<option value="black-metal-marduk">black-metal-marduk</option>
<option value="black-metal-mayhem">black-metal-mayhem</option>
<option value="black-metal-nile">black-metal-nile</option>
<option value="black-metal-venom">black-metal-venom</option>
<option value="black-metal">black-metal</option>
<option value="blazer">blazer</option>
<option value="blue-berry-pie">blue-berry-pie</option>
<option value="blue-matrix">blue-matrix</option>
<option value="blueforest">blueforest</option>
<option value="blueish">blueish</option>
<option value="bluloco-dark">bluloco-dark</option>
<option value="bluloco-light">bluloco-light</option>
<option value="borland">borland</option>
<option value="breeze">breeze</option>
<option value="brewer">brewer</option>
<option value="bright">bright</option>
<option value="broadcast">broadcast</option>
<option value="brogrammer">brogrammer</option>
<option value="brushtrees-dark">brushtrees-dark</option>
<option value="brushtrees">brushtrees</option>
<option value="builtin-dark">builtin-dark</option>
<option value="builtin-light">builtin-light</option>
<option value="builtin-pastel-dark">builtin-pastel-dark</option>
<option value="builtin-solarized-dark">builtin-solarized-dark</option>
<option value="builtin-solarized-light">builtin-solarized-light</option>
<option value="builtin-tango-dark">builtin-tango-dark</option>
<option value="builtin-tango-light">builtin-tango-light</option>
<option value="caroline">caroline</option>
<option value="catppuccin-frappe">catppuccin-frappe</option>
<option value="catppuccin-latte">catppuccin-latte</option>
<option value="catppuccin-macchiato">catppuccin-macchiato</option>
<option value="catppuccin-mocha">catppuccin-mocha</option>
<option value="chalk">chalk</option>
<option value="chalkboard">chalkboard</option>
<option value="challenger-deep">challenger-deep</option>
<option value="charcoal-dark">charcoal-dark</option>
<option value="charcoal-light">charcoal-light</option>
<option value="chicago-day">chicago-day</option>
<option value="chicago-night">chicago-night</option>
<option value="chinoiserie-midnight">chinoiserie-midnight</option>
<option value="chinoiserie-morandi">chinoiserie-morandi</option>
<option value="chinoiserie-night">chinoiserie-night</option>
<option value="chinoiserie">chinoiserie</option>
<option value="ciapre">ciapre</option>
<option value="circus">circus</option>
<option value="classic-dark">classic-dark</option>
<option value="classic-light">classic-light</option>
<option value="clrs">clrs</option>
<option value="cobalt-neon">cobalt-neon</option>
<option value="cobalt2">cobalt2</option>
<option value="codeschool">codeschool</option>
<option value="colors">colors</option>
<option value="crayon-pony-fish">crayon-pony-fish</option>
<option value="cupcake">cupcake</option>
<option value="cupertino">cupertino</option>
<option value="cyberdyne">cyberdyne</option>
<option value="da-one-black">da-one-black</option>
<option value="da-one-gray">da-one-gray</option>
<option value="da-one-ocean">da-one-ocean</option>
<option value="da-one-paper">da-one-paper</option>
<option value="da-one-sea">da-one-sea</option>
<option value="da-one-white">da-one-white</option>
<option value="danqing-light">danqing-light</option>
<option value="danqing">danqing</option>
<option value="darcula">darcula</option>
<option value="dark-plus">dark-plus</option>
<option value="darkmoss">darkmoss</option>
<option value="darktooth">darktooth</option>
<option value="darkviolet">darkviolet</option>
<option value="decaf">decaf</option>
<option value="deep-oceanic-next">deep-oceanic-next</option>
<option value="deep">deep</option>
<option value="default-dark">default-dark</option>
<option value="default-light">default-light</option>
<option value="desert">desert</option>
<option value="digital-rain">digital-rain</option>
<option value="dimmed-monokai">dimmed-monokai</option>
<option value="dirtysea">dirtysea</option>
<option value="dracula">dracula</option>
<option value="earthsong">earthsong</option>
<option value="edge-dark">edge-dark</option>
<option value="edge-light">edge-light</option>
<option value="eighties">eighties</option>
<option value="eldritch">eldritch</option>
<option value="elemental">elemental</option>
<option value="elementary">elementary</option>
<option value="embarcadero">embarcadero</option>
<option value="embers-light">embers-light</option>
<option value="embers">embers</option>
<option value="emil">emil</option>
<option value="encom">encom</option>
<option value="equilibrium-dark">equilibrium-dark</option>
<option value="equilibrium-gray-dark">equilibrium-gray-dark</option>
<option value="equilibrium-gray-light">equilibrium-gray-light</option>
<option value="equilibrium-light">equilibrium-light</option>
<option value="eris">eris</option>
<option value="espresso-libre">espresso-libre</option>
<option value="espresso">espresso</option>
<option value="eva-dim">eva-dim</option>
<option value="eva">eva</option>
<option value="evenok-dark">evenok-dark</option>
<option value="everforest-dark-hard">everforest-dark-hard</option>
<option value="everforest-dark-medium">everforest-dark-medium</option>
<option value="everforest-dark-soft">everforest-dark-soft</option>
<option value="everforest-light-hard">everforest-light-hard</option>
<option value="everforest-light-medium">everforest-light-medium</option>
<option value="everforest-light-soft">everforest-light-soft</option>
<option value="everforest">everforest</option>
<option value="fideloper">fideloper</option>
<option value="firefox-dev">firefox-dev</option>
<option value="fish-tank">fish-tank</option>
<option value="flat">flat</option>
<option value="flatland">flatland</option>
<option value="flexoki-dark">flexoki-dark</option>
<option value="flexoki-light">flexoki-light</option>
<option value="floraverse">floraverse</option>
<option value="forest-blue">forest-blue</option>
<option value="framer">framer</option>
<option value="front-end-delight">front-end-delight</option>
<option value="fruit-soda">fruit-soda</option>
<option value="fun-forrest">fun-forrest</option>
<option value="galaxy">galaxy</option>
<option value="gigavolt">gigavolt</option>
<option value="github-dark">github-dark</option>
<option value="github">github</option>
<option value="google-dark">google-dark</option>
<option value="google-light">google-light</option>
<option value="gotham">gotham</option>
<option value="grape">grape</option>
<option value="grayscale-dark">grayscale-dark</option>
<option value="grayscale-light">grayscale-light</option>
<option value="greenscreen">greenscreen</option>
<option value="gruber">gruber</option>
<option value="gruvbox-dark-hard">gruvbox-dark-hard</option>
<option value="gruvbox-dark-medium">gruvbox-dark-medium</option>
<option value="gruvbox-dark-pale">gruvbox-dark-pale</option>
<option value="gruvbox-dark-soft">gruvbox-dark-soft</option>
<option value="gruvbox-dark">gruvbox-dark</option>
<option value="gruvbox-light-hard">gruvbox-light-hard</option>
<option value="gruvbox-light-medium">gruvbox-light-medium</option>
<option value="gruvbox-light-soft">gruvbox-light-soft</option>
<option value="gruvbox-light">gruvbox-light</option>
<option value="gruvbox-material-dark-hard">gruvbox-material-dark-hard</option>
<option value="gruvbox-material-dark-medium">gruvbox-material-dark-medium</option>
<option value="gruvbox-material-dark-soft">gruvbox-material-dark-soft</option>
<option value="gruvbox-material-light-hard">gruvbox-material-light-hard</option>
<option value="gruvbox-material-light-medium">gruvbox-material-light-medium</option>
<option value="gruvbox-material-light-soft">gruvbox-material-light-soft</option>
<option value="hacktober">hacktober</option>
<option value="hardcore">hardcore</option>
<option value="hardhacker">hardhacker</option>
<option value="harmonic16-dark">harmonic16-dark</option>
<option value="harmonic16-light">harmonic16-light</option>
<option value="heetch-light">heetch-light</option>
<option value="heetch">heetch</option>
<option value="helios">helios</option>
<option value="highway">highway</option>
<option value="hipster-green">hipster-green</option>
<option value="hivacruz">hivacruz</option>
<option value="homebrew">homebrew</option>
<option value="hopscotch">hopscotch</option>
<option value="horizon-dark">horizon-dark</option>
<option value="horizon-light">horizon-light</option>
<option value="horizon-terminal-dark">horizon-terminal-dark</option>
<option value="horizon-terminal-light">horizon-terminal-light</option>
<option value="humanoid-dark">humanoid-dark</option>
<option value="humanoid-light">humanoid-light</option>
<option value="hurtado">hurtado</option>
<option value="hybrid">hybrid</option>
<option value="ia-dark">ia-dark</option>
<option value="ia-light">ia-light</option>
<option value="ic-green-ppl">ic-green-ppl</option>
<option value="ic-orange-ppl">ic-orange-ppl</option>
<option value="icy">icy</option>
<option value="idea">idea</option>
<option value="idle-toes">idle-toes</option>
<option value="inkstained-dark">inkstained-dark</option>
<option value="inkstained">inkstained</option>
<option value="irblack">irblack</option>
<option value="isotope">isotope</option>
<option value="jabuti">jabuti</option>
<option value="jackie-brown">jackie-brown</option>
<option value="japanesque">japanesque</option>
<option value="jellybeans">jellybeans</option>
<option value="jet-brains-darcula">jet-brains-darcula</option>
<option value="kanagawa-dragon">kanagawa-dragon</option>
<option value="kanagawa">kanagawa</option>
<option value="katy">katy</option>
<option value="kibble">kibble</option>
<option value="kimber">kimber</option>
<option value="kissa-latte">kissa-latte</option>
<option value="kissa-macchiato">kissa-macchiato</option>
<option value="lab-fox">lab-fox</option>
<option value="laser">laser</option>
<option value="later-this-evening">later-this-evening</option>
<option value="lavandula">lavandula</option>
<option value="lime">lime</option>
<option value="linux-vt">linux-vt</option>
<option value="lovelace">lovelace</option>
<option value="macintosh">macintosh</option>
<option value="man-page">man-page</option>
<option value="marrakesh">marrakesh</option>
<option value="materia">materia</option>
<option value="material-dark">material-dark</option>
<option value="material-darker">material-darker</option>
<option value="material-lighter">material-lighter</option>
<option value="material-palenight">material-palenight</option>
<option value="material-vivid">material-vivid</option>
<option value="material">material</option>
<option value="mathias">mathias</option>
<option value="measured-dark">measured-dark</option>
<option value="measured-light">measured-light</option>
<option value="medallion">medallion</option>
<option value="mellow-purple">mellow-purple</option>
<option value="mexico-light">mexico-light</option>
<option value="mission-brogue">mission-brogue</option>
<option value="misterioso">misterioso</option>
<option value="mocha">mocha</option>
<option value="molokai">molokai</option>
<option value="mona-lisa">mona-lisa</option>
<option value="monokai-vivid">monokai-vivid</option>
<option value="monokai">monokai</option>
<option value="moonlight">moonlight</option>
<option value="mountain">mountain</option>
<option value="nebula">nebula</option>
<option value="night-lion-v1">night-lion-v1</option>
<option value="night-lion-v2">night-lion-v2</option>
<option value="night-owlish-light">night-owlish-light</option>
<option value="nocturnal-winter">nocturnal-winter</option>
<option value="nord-light">nord-light</option>
<option value="nord">nord</option>
<option value="nova">nova</option>
<option value="obsidian">obsidian</option>
<option value="ocean">ocean</option>
<option value="oceanic-material">oceanic-material</option>
<option value="oceanicnext">oceanicnext</option>
<option value="ollie">ollie</option>
<option value="one-black">one-black</option>
<option value="one-dark">one-dark</option>
<option value="one-half-light">one-half-light</option>
<option value="one-light">one-light</option>
<option value="onedark-dark">onedark-dark</option>
<option value="onedark">onedark</option>
<option value="operator-mono-dark">operator-mono-dark</option>
<option value="outrun-dark">outrun-dark</option>
<option value="oxocarbon-dark">oxocarbon-dark</option>
<option value="oxocarbon-light">oxocarbon-light</option>
<option value="pandora">pandora</option>
<option value="papercolor-dark">papercolor-dark</option>
<option value="papercolor-light">papercolor-light</option>
<option value="paraiso">paraiso</option>
<option value="pasque">pasque</option>
<option value="paul-millr">paul-millr</option>
<option value="pencil-dark">pencil-dark</option>
<option value="pencil-light">pencil-light</option>
<option value="penumbra-dark-contrast-plus-plus">penumbra-dark-contrast-plus-plus</option>
<option value="penumbra-dark-contrast-plus">penumbra-dark-contrast-plus</option>
<option value="penumbra-dark">penumbra-dark</option>
<option value="penumbra-light-contrast-plus-plus">penumbra-light-contrast-plus-plus</option>
<option value="penumbra-light-contrast-plus">penumbra-light-contrast-plus</option>
<option value="penumbra-light">penumbra-light</option>
<option value="phd">phd</option>
<option value="piatto-light">piatto-light</option>
<option value="pico">pico</option>
<option value="pinky">pinky</option>
<option value="pnevma">pnevma</option>
<option value="pop">pop</option>
<option value="porple">porple</option>
<option value="precious-dark-eleven">precious-dark-eleven</option>
<option value="precious-dark-fifteen">precious-dark-fifteen</option>
<option value="precious-light-warm">precious-light-warm</option>
<option value="precious-light-white">precious-light-white</option>
<option value="primer-dark-dimmed">primer-dark-dimmed</option>
<option value="primer-dark">primer-dark</option>
<option value="primer-light">primer-light</option>
<option value="pro-light">pro-light</option>
<option value="pro">pro</option>
<option value="purple-rain">purple-rain</option>
<option value="purpledream">purpledream</option>
<option value="purplepeter">purplepeter</option>
<option value="qualia">qualia</option>
<option value="railscasts">railscasts</option>
<option value="rebecca">rebecca</option>
<option value="red-alert">red-alert</option>
<option value="red-planet">red-planet</option>
<option value="red-sands">red-sands</option>
<option value="rippedcasts">rippedcasts</option>
<option value="rose-pine-dawn">rose-pine-dawn</option>
<option value="rose-pine-moon">rose-pine-moon</option>
<option value="rose-pine">rose-pine</option>
<option value="royal">royal</option>
<option value="saga">saga</option>
<option value="sagelight">sagelight</option>
<option value="sakura">sakura</option>
<option value="sandcastle">sandcastle</option>
<option value="scarlet-protocol">scarlet-protocol</option>
<option value="sea-shells">sea-shells</option>
<option value="seafoam-pastel">seafoam-pastel</option>
<option value="selenized-black">selenized-black</option>
<option value="selenized-dark">selenized-dark</option>
<option value="selenized-light">selenized-light</option>
<option value="selenized-white">selenized-white</option>
<option value="seti">seti</option>
<option value="shades-of-purple">shades-of-purple</option>
<option value="shadesmear-dark">shadesmear-dark</option>
<option value="shadesmear-light">shadesmear-light</option>
<option value="shaman">shaman</option>
<option value="shapeshifter">shapeshifter</option>
<option value="silk-dark">silk-dark</option>
<option value="silk-light">silk-light</option>
<option value="slate">slate</option>
<option value="sleepy-hollow">sleepy-hollow</option>
<option value="smyck">smyck</option>
<option value="snazzy">snazzy</option>
<option value="soft-server">soft-server</option>
<option value="solarflare-light">solarflare-light</option>
<option value="solarflare">solarflare</option>
<option value="solarized-dark-higher-contrast">solarized-dark-higher-contrast</option>
<option value="solarized-dark-patched">solarized-dark-patched</option>
<option value="solarized-dark">solarized-dark</option>
<option value="solarized-light">solarized-light</option>
<option value="space-gray-eighties-dull">space-gray-eighties-dull</option>
<option value="space-gray-eighties">space-gray-eighties</option>
<option value="spaceduck">spaceduck</option>
<option value="spacedust">spacedust</option>
<option value="spacemacs">spacemacs</option>
<option value="sparky">sparky</option>
<option value="spiderman">spiderman</option>
<option value="square">square</option>
<option value="standardized-dark">standardized-dark</option>
<option value="standardized-light">standardized-light</option>
<option value="stella">stella</option>
<option value="still-alive">still-alive</option>
<option value="summercamp">summercamp</option>
<option value="summerfruit-dark">summerfruit-dark</option>
<option value="summerfruit-light">summerfruit-light</option>
<option value="sundried">sundried</option>
<option value="swamp-dark">swamp-dark</option>
<option value="swamp-light">swamp-light</option>
<option value="synth-midnight-dark">synth-midnight-dark</option>
<option value="synth-midnight-light">synth-midnight-light</option>
<option value="tango-adapted">tango-adapted</option>
<option value="tango-half-adapted">tango-half-adapted</option>
<option value="tango">tango</option>
<option value="tarot">tarot</option>
<option value="tender">tender</option>
<option value="terminal-basic">terminal-basic</option>
<option value="terracotta-dark">terracotta-dark</option>
<option value="terracotta">terracotta</option>
<option value="thayer-bright">thayer-bright</option>
<option value="the-hulk">the-hulk</option>
<option value="tokyo-city-dark">tokyo-city-dark</option>
<option value="tokyo-city-light">tokyo-city-light</option>
<option value="tokyo-city-terminal-dark">tokyo-city-terminal-dark</option>
<option value="tokyo-city-terminal-light">tokyo-city-terminal-light</option>
<option value="tokyo-night-dark">tokyo-night-dark</option>
<option value="tokyo-night-light">tokyo-night-light</option>
<option value="tokyo-night-moon">tokyo-night-moon</option>
<option value="tokyo-night-storm">tokyo-night-storm</option>
<option value="tokyo-night-terminal-dark">tokyo-night-terminal-dark</option>
<option value="tokyo-night-terminal-light">tokyo-night-terminal-light</option>
<option value="tokyo-night-terminal-storm">tokyo-night-terminal-storm</option>
<option value="tokyodark-terminal">tokyodark-terminal</option>
<option value="tokyodark">tokyodark</option>
<option value="tomorrow-night-eighties">tomorrow-night-eighties</option>
<option value="tomorrow-night">tomorrow-night</option>
<option value="tomorrow">tomorrow</option>
<option value="toy-chest">toy-chest</option>
<option value="treehouse">treehouse</option>
<option value="tube">tube</option>
<option value="twilight">twilight</option>
<option value="ubuntu">ubuntu</option>
<option value="ultra-violet">ultra-violet</option>
<option value="under-the-sea">under-the-sea</option>
<option value="unikitty-dark">unikitty-dark</option>
<option value="unikitty-light">unikitty-light</option>
<option value="unikitty-reversible">unikitty-reversible</option>
<option value="unikitty">unikitty</option>
<option value="uwunicorn">uwunicorn</option>
<option value="valua">valua</option>
<option value="vesper">vesper</option>
<option value="vibrant-ink">vibrant-ink</option>
<option value="vice">vice</option>
<option value="violet-dark">violet-dark</option>
<option value="violet-light">violet-light</option>
<option value="vulcan">vulcan</option>
<option value="warm-neon">warm-neon</option>
<option value="wez">wez</option>
<option value="wild-cherry">wild-cherry</option>
<option value="windows-10-light">windows-10-light</option>
<option value="windows-10">windows-10</option>
<option value="windows-95-light">windows-95-light</option>
<option value="windows-95">windows-95</option>
<option value="windows-highcontrast-light">windows-highcontrast-light</option>
<option value="windows-highcontrast">windows-highcontrast</option>
<option value="windows-nt-light">windows-nt-light</option>
<option value="windows-nt">windows-nt</option>
<option value="wombat">wombat</option>
<option value="woodland">woodland</option>
<option value="wryan">wryan</option>
<option value="xcode-dusk">xcode-dusk</option>
<option value="yesterday-bright">yesterday-bright</option>
<option value="yesterday-night">yesterday-night</option>
<option value="yesterday">yesterday</option>
<option value="zenbones">zenbones</option>
<option value="zenburn">zenburn</option>
