<div class="dang-literate" data-dang-literate>
<pre class="dang-literate-fallback">{{.Content | render}}</pre>
{{- if or (.Partial "Stdout") (.Partial "Value")}}
<div class="dang-literate-out">
{{- with .Partial "Stdout"}}<div class="dang-playground-stdout">{{. | render}}</div>{{end}}
{{- with .Partial "Value"}}<div class="dang-playground-result">=&gt; {{. | render}}</div>{{end -}}
</div>
{{- end}}
</div>
