<div class="stdlib-entry">
  {{- .Partial "Target" | render -}}
  <div class="stdlib-sig">{{with .Partial "Prefix"}}<span class="stdlib-sig-prefix syntax">{{. | render}}</span>{{end}}{{.Content | render}}{{with .Partial "Deprecated"}}<span class="stdlib-deprecated">{{. | render}}</span>{{end}}</div>
  {{with .Partial "Description"}}<p class="stdlib-desc">{{. | render}}</p>{{end}}
  {{with .Partial "Example"}}{{. | render}}{{end}}
</div>
