<tr>
  <td class="stdlib-index-name"><a href="#{{.Partial "Tag" | render}}"><code>{{.Content | render}}</code></a></td>
  <td class="stdlib-index-desc">{{with .Partial "Description"}}{{. | render}}{{end}}</td>
</tr>
